<div class="application-main " data-commit-hovercards-enabled>
    <main id="js-pjax-container" data-pjax-container>
        <div class="container-xl clearfix px-3 mt-4">
            <div id = "title_01">
                <h1>
                    AIFactoryHub
                </h1>
            </div>
            <div id = "aside_01">
                {{ partial "tasks.html" .}}
            </div>
            <div id = "section_01">
                {{ partial "sidebar.html" . }}
            </div>
    </main>
</div>
